body{
    overflow-x: hidden;
}
.inicio{
    position: absolute;
    width: 100%;
    height: 920px;
    left: 0px;
    top: 0px;
    z-index: 1;

    background: url(./Images/fundo.svg);
}
#tab{
    position: absolute;
    width: 608px;
    height: 100px;
    left: 730px;
    top: 30px;

    display: flex;
    align-items: center;
    text-align: center;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

}
#marcas{
    position: absolute;
    width: 61px;
    height: 24px;
    left: 0px;
    top: 33px;
    bottom: 43px;

    text-decoration: inherit;
    color: #FFFFFF;

}
#carrocerias{
    position: absolute;
    width: 97px;
    height: 24px;

    left: 90px;
    top: 33px;
    bottom: 43px;
    text-decoration: inherit;
    color: #FFFFFF;
}
#perguntas{
    position: absolute;
    width: 180px;
    height: 24px;

    left: 216px;
    top: 33px;
    bottom: 43px;
    text-decoration: inherit;
    color: #FFFFFF;
}
#login{
    position: absolute;
    width: 50px;
    height: 24px;
    left: 502px;
    top: 33px;
    bottom: 43px;
    text-decoration: inherit;
    color: #FFFFFF;
}
#rectangle{
    box-sizing: border-box;
    
    position: absolute;
    width: 120px;
    height: 50px;
    left: 467px;
    top: 20px;
    bottom: 30px;
    
    border: 2px solid #FFFFFF;
    border-radius: 20px;
}
.logo{
    position: absolute;
    width: 287px;
    height: 140px;
    left: 102px;
    top: 10px;
}
#Icars{
    position: absolute;
    width: 135px;
    height: 94px;
    left: 152px;
    top: 26px;
    bottom: 20px;

    font-family: 'Calligraffitti';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 94px;

    color: #060DD9;
}
#sedan{
    position: absolute;
    width: 143.16px;
    height: 140px;
    right: 143px;
    background: url(./Images/sedan.svg);
}
.content{
    position: absolute;
    width: 843px;
    height: 462px;
    left: 102px;
    top: 243px;
}
#title{
    position: absolute;
    width: 715px;
    height: 158px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    text-align: center;

    color: #FFFFFF;

}
#text{
    position: absolute;
    width: 843px;
    height: 198px;
    bottom: 0;

    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-align: left;
    justify-content: center;

    color: #FFFFFF;
}
.marcas{
    position: absolute;
    width: 1788px;
    height: 1010.43px;
    left: 0px;
    top: 630px;
}
#title-marcas {
    position: absolute;
    width: 486px;
    height: 84px;
    top: 114px;
    bottom: 502px;
    right: 852px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #262626;
}
.second-layout{
    position: absolute;
    width: 1440px;
    height: 700px;
    top: 290px;
    bottom: 20.43px;

    background: #F3F3FF;
}
#marca1, #marca2, #marca3, #marca4 {
    position: absolute;
    width: 160px;
    height: 160px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
#marca1{
    top: 235px;
    left: 160px;
    
}
#marca2{
    top: 235px;
    left: 345px;
}
#marca3{
    top: 426px;
    left: 160px;
}
#marca4{
    top: 426px;
    left: 345px;
}
#fiat , #ford, #wolks, #chevrolet{
    position: absolute;
    width: 100px;
    height: 100px;
    
}
#fiat{
    top: 30px;
    left: 30px;

    background: url(./Images/Fiat.svg);
}
#ford{
    top: 30px;
    left: 30px;

    background: url(./Images/Ford.svg);
}
#wolks{
    top: 30px;
    left: 30px;

    background: url(./Images/wolks.svg);
}
#chevrolet{
    top: 30px;
    left: 30px;

    background: url(./Images/chevrolet.svg);
}
#polygon{
    position: absolute;
    width: 1119px;
    height: 953px;
    left: 669px;
    bottom: 37px;

    background: url(./Images/Polygon\ 4.svg);
    background-repeat: no-repeat;
    border-radius: 40px;
}
#car1{
    position: absolute;
    width: 860px;
    height: 627.43px;
    top: 93px;
    left: 580px;
    z-index: 1;

    background: url(./Images/car1.svg);
}
