body{
    overflow-x: hidden;
}
.inicio{
    position: relative;
    width: 1440px;
    height: 920px;
    left: 0px;
    top: 0px;
    z-index: 1;

    background: url(../../Images/fundo.svg);
}
.content{
    position: absolute;
    width: 843px;
    height: 462px;
    left: 102px;
    top: 243px;
}
#title{
    position: absolute;
    width: 715px;
    height: 158px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    text-align: center;

    color: #FFFFFF;

}
#text{
    position: absolute;
    width: 843px;
    height: 198px;
    bottom: 0;

    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-align: left;
    justify-content: center;

    color: #FFFFFF;
}
#title-marcas {
    position: absolute;
    width: 486px;
    height: 84px;
    top: 114px;
    bottom: 502px;
    right: 852px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #262626;
}
.marcas{
    position: relative;
    width: 1440px;
    height: 700px;

    background: #F3F3FF;
}
#marca1, #marca2, #marca3, #marca4,#carroceria1 , #carroceria2,#carroceria3,#carroceria4 {
    position: absolute;
    width: 160px;
    height: 160px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
#marca1{
    top: 235px;
    left: 160px;
    
}
#marca2{
    top: 235px;
    left: 345px;
}
#marca3{
    top: 426px;
    left: 160px;
}
#marca4{
    top: 426px;
    left: 345px;
}
#fiat , #ford, #wolks, #chevrolet{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 30px;
    left: 30px;
    
}
#fiat{
    background: url(../../Images/Fiat.svg);
}
#ford{
    background: url(../../Images/Ford.svg);
}
#wolks{
    background: url(../../Images/wolks.svg);
}
#chevrolet{
    background: url(../../Images/chevrolet.svg);
}
#polygon1{
    position: absolute;
    width: 1119px;
    height: 953px;
    left: 669px;
    bottom: 37px;

    background: url(../../Images/Polygon.svg);
    background-repeat: no-repeat;
    border-radius: 40px;
}
#car1{
    position: absolute;
    width: 860px;
    height: 627.43px;
    top: 93px;
    left: 580px;
    z-index: 1;

    background: url(../../Images/car1.svg);
}
.value{
    position: relative;
    width: 1440px;
    height: 404px;
    left: 0px;
    z-index: 7;

    background: url(../../Images/velocimetro.svg);

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
}
.item1{
    position: absolute;
    width: 385px;
    height: 180px;
    top: 94px;
    left: 90px;
}
#img-item1{
    position: absolute;
    width: 120px;
    height: 120px;
    top: 6px;
    left: 0px;

    background: url(../../Images/car-velo.svg);
    background-repeat: no-repeat;
}
#content-item1{
    position: absolute;
    width: 243px;
    height: 87px;
    left: 142px;
    top: 11px;

    font-size: 64px;
    line-height: 96px;
    text-align: center;
}
#content2-item1{
    position: absolute;
    width: 205px;
    height: 82px;
    left: 160px;
    top: 98px;
    right: 20px;

    font-size: 28px;
    line-height: 42px;
    text-align: center;
}
.item2{
    position: absolute;
    width: 770px;
    height: 180px;
    left: 580px;
    top: 94px;
}
#img1-item2{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 0px;
    top: 12px;

    background: url(../../Images/user-friends.svg);
    background-repeat: no-repeat;
}
#content-item2{
    position: absolute;
    width: 243px;
    height: 87px;
    left: 120px;
    top: 11px;

    font-size: 64px;
    line-height: 96px;
    text-align: center;
}
#content2-item2{
    position: absolute;
    width: 205px;
    height: 82px;
    left: 138px;
    top: 98px;

    font-size: 28px;
    line-height: 42px;
    text-align: center;
}
#content3-item2{
    position: absolute;
    width: 205px;
    height: 108px;
    left: 546px;
    top: 36px;

    font-size: 28px;
    line-height: 42px;
    text-align: center;
}
#img2-item2{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 424px;
    top: 6px;

    background: url(../../Images/user-shild.svg);
    background-repeat: no-repeat;
}
.carroceria{
    position: relative;
    width: 1440px;
    height: 640px;
    left: 0px;

    background: #F3F3FF;

    font-family: 'Poppins';
    font-style: normal;
    text-align: center;
    color: #262626;
}
#title-carrocerias{
    position: absolute;
    width: 486px;
    height: 84px;
    left: 833px;
    top: 80px;

    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
}
#carroceria1{
    left: 906px;
    top: 208px;
}
#carroceria2{
    left: 1091px;
    top: 208px;
}
#carroceria3{
    left: 906px;
    top: 399px;
}
#carroceria4{
    left: 1091px;
    top: 399px;
}
#car_carroceria1,#car_carroceria3,#car_carroceria4{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20px;
    left: 30px;
}
#car_carroceria1{
    background: url(../../Images/Hatch.svg);
}
#car_carroceria2{
    position: absolute;
    width: 100px;
    height: 32.91px;
    top: 54px;
    left: 30px;

    background: url(../../Images/Sedan-carrocerias.svg);
}
#car_carroceria3{
    background: url(../../Images/Minivan.svg);
}
#car_carroceria4{
    background: url(../../Images/Picape.svg);
}
#economico_car,#sedan_car,#minivan_car,#picape_car{
    position: absolute;
    width: 120px;
    height: 31px;
    top: 104px;
    left: 20px;

    font-size: 20px;
    font-weight: 700;
}
#car2{
    position: absolute;
    width: 880px;
    height: 512px;
    left: -27px;
    top: 100px;

    background: url(../../Images/car2.svg);
    background-repeat: no-repeat;
    z-index: 2;
}
#polygon2{
    position: absolute;
    width: 1119px;
    height: 953px;
    top: -300px;
    right: 342px;

    background: url(../../Images/polygon2.svg);
    background-repeat: no-repeat;
}
.perguntas-frequentes{
    position: relative;
    width: 1440px;
    height: 684px;
    left: 0px;

    font-family: 'Poppins';
    font-style: normal;

    background: #FFFFFF;
}
.perguntas-frequentes h1{
    position: absolute;
    width: 448px;
    height: 60px;
    top: 93px;
    left: 496px;

    font-weight: 600;
    font-size: 40px;
}
.menu{
    position: absolute;
    width: 994px;
    height: 409px;
    top: 215px;
    left: 223px;
}
.question1 .button1 {
    position: relative;
    left: 963.69px;
    top: -18px;
    border: none;
    background: none;
    cursor: pointer;
}
.question1 #title-perguntas {
    position: relative;
    width: 498px;
    height: 30px;
    top: 5px;

    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #060Dd9;
}
.question1 .content-perguntas{
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    top: 22px;

    color: #262626;
}
.question2 .button2 {
    position: relative;
    left: 963.69px;
    top: -18px;
    border: none;
    background: none;
    cursor: pointer;
}
.question2 #title-perguntas2 {
    position: relative;
    width: 498px;
    height: 30px;
    top: 5px;

    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #060Dd9;
}
.question2 .content-perguntas2{
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    top: 22px;

    color: #262626;
}
.question3 .button3 {
    position: relative;
    left: 963.69px;
    top: -18px;
    border: none;
    background: none;
    cursor: pointer;
}
.question3 #title-perguntas3 {
    position: relative;
    width: 498px;
    height: 30px;
    top: 5px;

    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #060Dd9;
}
.question3 .content-perguntas3{
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    top: 22px;

    color: #262626;
}
 #line {
    position: relative;
    width: 994px;
    height: 0px;
    margin-top: 50px;
    margin-bottom: 41px;

    border: 1px solid #262626;
}


