* { 
    margin: 0;
    -webkit-appearance: none;
}
#body {
    width: 1440px;
    height: 1156px;
    background: #F3F3F3 ;
}
.cars {
    position: absolute;
    display: flex;
    width: 939.86px;
    height: 754px;
    top: 425px;
    left: 445px;

    align-items: center;
    justify-content: center ;

    gap: 34px 36.59px;
    flex-wrap: wrap;
}
#icon1{
    position: relative;
    width: 263.41px;
    height: 337.17px;

    margin-top: 22.83px;
    

    background: #FFFFFF;
    box-shadow: 0px 5px 8px rgba(6, 13, 217, 0.06);
    border-radius: 20px;
}
#brand {
    position: absolute;
    width: 49.17px;
    height: 49.17px;
    top: 19.32px;
    left: 196.68px;

    background: #FFFFFF;
    border-radius: 35px;
    box-shadow: 0px 4px 4px rgba(6, 13, 217, 0.06);

    background: url('');
}
#brand img {
    position: absolute;
    width: 43.9px;
    height: 38.58px;
    top: 7.02px;
    left: 1.76px;
}
#car {
    position: absolute;
    width: 202.78px;
    height: 161.56px;
    top: 68.49px;
    left: 29.85px;
    box-sizing: border-box;

    z-index: 10 ;
}
#background {
    position: absolute;
    width: 202.78px;
    height: 203.71px;
    top: 54px;
    left: 29.85px;

    background: url('../../Images/Triangle.svg') no-repeat;
}
#name_car{
    position: absolute;
    width: 170.34px;
    height: 26.34px;
    top: 247.61px;
    left: 24.59px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #262626;
}
#price {
    position: absolute;
    width: 110.63px;
    height: 26.34px;
    top: 282.73px;
    left: 24.59px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #060DD9;
}
#filters {
    position: absolute;
    width: 360px;
    height: 998px;
    left: 56px;
    top: 442px;

    background: #FFFFFF;
    border-radius: 12px;
}
#price_input {
    position: relative;
    display: block;
    width: 360px;
    height: 148.5px;
    left: 2px;
    top: 25px;

    border-bottom: 1px solid #C5C6C3;
}
#title_input {
    position: relative;
    width: 52px;
    height: 27px;
    top: 0;
    left: 22px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    color: #262626;
}
#box-range{
    position: absolute;
    width: 311px;
    height: 50px;
    top: 48px;
    left: 20px;
}
#box-range #range_price1,#range_price2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;

    color: #060DD9;
}
#range_price2 {
    position: absolute;
    width: 70px;
    height: 21px;
    top: 3px;
    left: 243px;
}
input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 310px;
    height: 0px;
    border: solid 2px #060DD9;
    margin-top: 20px;
    border-radius: 8px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;

    width: 20px;
    height: 20px;
    border-radius: 20px;

    background: #060DD9;
}
#brand_input {
    position: absolute;
    display: flex;
    width: 360px;
    height: 250px;
    top: 198px;
    left: 2px;

    flex-direction: column;
    gap: 19px;

    border-bottom: 1px solid #C5C6C3;
}
#filter {
    position: relative;
    width: 25px;
    height: 25px;

    border: 1px solid #262626 ;
    border-radius: 2px;

    cursor: pointer;
}
#box_input input:checked {
    background: #060DD9;
}
#box_input {
    position: relative;
    width: 135px;
    height: 25px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 12px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #262626;
}
#types_input {
    position: absolute;
    display: flex;
    width: 360px;
    height: 250px;
    top: 473px;

    flex-direction: column;
    gap: 19px;

    border-bottom: 1px solid #C5C6C3;
}
#years_input {
    position: absolute;
    display: flex;
    width: 360px;
    height: 250px;
    top: 748px;

    flex-direction: column;
    gap: 19px;
}